.login-logo img
{
	width: 150px;
	margin-bottom: 50px;
}

/* lg screen */
@media only screen and (max-width:2000px){
.login-frm
{
    margin-top: 200px;
}
}

/* md screen */
@media only screen and (max-width:1500px){
    .login-frm
{
    margin-top: 100px;
}
}
/* sm screen */
@media only screen and (max-width:465px){
    .login-frm
{
    margin-top: 50px;
}
}